$mobile: 375px;
$desktop: 1440px;

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(218, 12%, 42%);
$dark-blue: hsl(218, 44%, 22%);

$normal-size: 15px;

$normal: 400;
$bold: 700;